version: "3"

networks:
    private_network:
        ipam:
            driver: default
            config:
                - subnet: 10.2.0.0/24

services:
    adguardhome:
        image: adguard/adguardhome
        container_name: adguardhome
        volumes:
            - ./adguard/workdir:/opt/adguardhome/work
            - ./adguard/conf:/opt/adguardhome/conf
        ports:
            - "127.0.0.1:53:53/udp"
            - "127.0.0.1:53:53/tcp"
            - "67:67/udp"
            - '853:853/tcp'
        cap_add:
            - NET_ADMIN
        networks:
            private_network:
                ipv4_address: 10.2.0.100

    wireguard:
        depends_on: [adguardhome]
        image: linuxserver/wireguard
        container_name: wireguard
        cap_add:
            - NET_ADMIN
            - SYS_MODULE
        environment:
            - PUID=1000
            - PGID=1000
            - TZ=Europe/Berlin # Change to your timezone
            - SERVERPORT=51820
            - PEERS=15 # How many peers to generate for you (clients)
            - PEERDNS=10.2.0.100 # Set it to point to pihole
            - INTERNAL_SUBNET=10.6.0.0
        volumes:
            - ./wireguard:/config
            - /lib/modules:/lib/modules
        ports:
            - "51820:51820/udp"
        dns:
            - 10.2.0.100
        sysctls:
            - net.ipv4.conf.all.src_valid_mark=1
        restart: unless-stopped
        networks:
            private_network:
                ipv4_address: 10.2.0.3


